.footer {
    background: $footer-bg;
    color: $footer-text;
    font-size: 14px;
    text-align: left;
    @include clearfix();
    padding: 30px 15px;
    @include respond-to(wide-handhelds) {
        text-align: center;
        line-height: 30px;
    }
    .footer-nav {
        @include ul-res();
        float: right;
        @include respond-to(wide-handhelds) {
            float: none;
            text-align: center;
            width: 100%;
        }
        li {
            display: inline-block;
            padding: 0 5px;
            &:before {
                display: inline-block;
                content: '';
                width: 3px;
                height: 3px;
                background-color: $footer-text;
                vertical-align: middle;
                margin-right: 5px;
            }
            &:first-child:before {
                display: none;
            }
        }
    }
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 5px;
    bottom: 5px;
    display: none;
}
