[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: inherit;
    font-size: inherit;
    text-align: center;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.icon-dice:before {
    content: "\e900";
}

.icon-location{
    text-align:left;
}
.icon-location:before {
    content: "\e901";


}

.icon-arrow-right:after {
    content: "\e902";
    vertical-align: middle;
    margin-left: 7px;

}

.icon-star-empty:before {
    content: "\e903";
}

.icon-heart:before {
    content: "\e904";
}

.icon-search:before {
    content: "\e905";
    vertical-align: middle;
}

.icon-pinterest:before {
    content: "\e906";
}

.icon-behance:before {
    content: "\e907";
}

.icon-dribble:before {
    content: "\e908";
}

.icon-twitter:before {
    content: "\e909";
}

.icon-facebook:before {
    content: "\e90a";
}

.icon-google-plus:before {
    content: "\e90b";
}

.icon-mobile:before {
    content: "\e90c";
    width: 10px;
    float: left;
    margin-right: 7px;
}

.icon-envelop:before {
    content: "\e90d";
    vertical-align: middle;
    width: 10px;
    float: left;
    margin-right: 7px;
}
